/target/

# ignore all index files
*.db
/Indexes/*

#ignoring hdtFiles
*.hdt

#ignoring indexes for hdtFiles
*.hdt.index.v1-1

# others
/.settings/
/.vscode/
.DS_Store
.classpath
.factorypath
.project
pom.xml.versionsBackup